/*css reset*/
html{
	font-size: 62.5%;
}
body{
	font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1.4rem;
	line-height:1.4;
	color:#222527;
	background: #F6F6F6;
	position: relative;
}
body,h1,h2,h3,h4,h5,h6,p,ol,ul,form{
	margin:0;
}
ul,ol{
	padding-left:0;
	list-style:none;
}
img{
	border:0;
}
a{	
	font-size: 1.4rem;
	text-decoration:none;
	color:#f7943a;
}

/***************css通用样式**************/
.f-l{
	float: left;
}
.f-r{
	float: right;
}
.c-b{
	clear: both;
}
.f-w-n{
	font-weight: normal;
}
.f-s-n{
	font-style: normal;
}
.f-w-b{
	font-weight: bold;
}
.f-s-i{
	font-style: italic;
}
.t-a-c{
	text-align: center;
}
.t-a-l{
	text-align: left;
}
.t-a-r{
	text-align: right;
}
.t-d-u{
	text-decoration: underline;
}
.t-d-n{
	text-decoration: none;
}
.v-a-m{
	vertical-align: middle;
}
.v-a-t-b{
	vertical-align: text-bottom;
}
.v-a-t{
	vertical-align: top;
}
.p-r{
	position: relative;
}
.p-a{
	position: absolute;
}
.p-f{
	position: fixed;
}
.d-n{
	display: none;
}
.d-i{
	display: inline;
}
.d-b{
	display: block;
}
.d-i-b{
	display: inline-block;
}
.d-f{
	display: flex;
}
.f-1{
	flex: 1;
}
.o-h{
	overflow: hidden;
}
.o-s{
	overflow: scroll;
}
.v-v{
	visibility: visible;
}
.v-h{
	visibility: hidden;
}
.o-n{
	outline: none;
}
.z-1{
	_zoom:1;
}
.f-f-a{
	font-family: arial;
}
.f-f-m{
	font-family:"Microsoft YaHei"； 
}
.b-0{
	border: 0;
}
.b-r-0{
	border-radius: 0;
}
.b-r-5{
	border-radius: 0.5rem;
}
.m-a{
	margin:auto;
}
.p-l-0{
	padding-left: 0 !important;
}
.p-l-5{
	padding-left: 0.5rem;
}
.p-l-10{
	padding-left: 1rem;
}
.p-l-15{
	padding-left: 1.5rem;
}
.p-l-20{
	padding-left: 2rem;
}
.p-r-0{
	padding-right: 0 !important;
}
.p-r-5{
	padding-right: 0.5rem;
}
.p-r-10{
	padding-right: 1rem;
}
.p-r-20{
	padding-right: 2rem;
}
.p-t-0{
	padding-top: 0 !important;
}
.p-t-5{
	padding-top: 0.5rem;
}
.p-t-10{
	padding-top: 1rem;
}
.p-t-20{
	padding-top: 2rem;
}
.p-b-0{
	padding-bottom: 0 !important;
}
.p-b-5{
	padding-bottom: 0.5rem;
}
.p-b-10{
	padding-bottom: 1rem;
}
.p-b-20{
	padding-bottom: 2rem;
}
.p-a-10{
	padding:1rem;
}
.m-l-0{
	margin-left: 0 !important;
}
.m-l-5{
	margin-left: 0.5rem;
}
.m-l-10{
	margin-left: 1rem;
}
.m-l-15{
	margin-left: 1.5rem;
}
.m-l-20{
	margin-left: 2rem;
}
.m-r-0{
	margin-right: 0 !important;
}
.m-r-5{
	margin-right: 0.5rem;
}
.m-r-10{
	margin-right: 1rem;
}
.m-r-20{
	margin-right: 2rem;
}
.m-t-0{
	margin-top: 0 !important;
}
.m-t-5{
	margin-top: 0.5rem;
}
.m-t-10{
	margin-top: 1rem;
}
.m-t-20{
	margin-top: 2rem;
}
.m-t-80{
	margin-top: 8rem;
}
.m-b-0{
	margin-bottom: 0 !important;
}
.m-b-5{
	margin-bottom: 0.5rem;
}
.m-b-10{
	margin-bottom: 1rem;
}
.m-b-20{
	margin-bottom: 2rem;
}
.w-90{
	width:90%;
}
.w-0{
	width:0;
}

/************此站点通用样式********/
/*颜色*/
.c-f-o{/*橙色orange*/
	color:#f7943a;
}
.b-c-o{
	background: #f7943a;
}
.c-f-w{
	color: #FFFFFF;
}
.c-f-b{
	color: #000000;
}
.c-f-1{
	color:#222527;
}
.c-f-2{
	color:#565E61;
}
.c-f-3{
	color:#99A3A9;
}
.l-c{
	border-color:#ced7dc;
}
.b-c-1{
	background-color:#F6F6F6;
}
.b-c-b{
	background-color:#2979FF ;
}
.l-h-c{
	color:#2979FF;
}
/*此站点通用小组件*/
/*button*/
.btn-main{
	display: block;
	width:90%;
	margin:2rem auto auto;
	color:#FFFFFF;
	border:0.1rem solid #f7943a;
	background:#f7943a ;
}
.btn-main-border{
	display: block;
	width:90%;
	margin:2rem auto auto;
	color:#f7943a;
	border:0.1rem solid #f7943a;
	background:none ;
}
.main-block{
	display: block;
	text-align: center;
	color: #f7943a;
	font-size: 1.4rem;
	line-height: 2.4rem;
}

